<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>config</key>
	<dict>
		<key>consumer_secret</key>
		<string>Tj5bUFsG3ynvtRdQ67SHsXDz</string>
		<key>redirect_uri</key>
		<string>http://google.com</string>
		<key>api_key</key>
		<string>74hvvcfvvwjtgdsuhfau6djb</string>
	</dict>
	<key>errors</key>
	<dict>
		<key>list_orId</key>
		<string>Only an interger or ContactList object are allowed for this method.</string>
		<key>contact_orId</key>
		<string>Only an interger or Contact object are allowed for this method.</string>
	</dict>
	<key>activities_columns</key>
	<dict>
		<key>custom_field_13</key>
		<string>CUSTOM FIELD 13</string>
		<key>custom_field_7</key>
		<string>CUSTOM FIELD 7</string>
		<key>postal_code</key>
		<string>ZIP/POSTAL CODE</string>
		<key>work_phone</key>
		<string>WORK PHONE</string>
		<key>country</key>
		<string>COUNTRY</string>
		<key>custom_field_4</key>
		<string>CUSTOM FIELD 4</string>
		<key>company_name</key>
		<string>COMPANY NAME</string>
		<key>custom_field_1</key>
		<string>CUSTOM FIELD 1</string>
		<key>custom_field_14</key>
		<string>CUSTOM FIELD 14</string>
		<key>custom_field_10</key>
		<string>CUSTOM FIELD 10</string>
		<key>home_phone</key>
		<string>HOME PHONE</string>
		<key>middle_name</key>
		<string>MIDDLE NAME</string>
		<key>address1</key>
		<string>ADDRESS LINE 1</string>
		<key>city</key>
		<string>CITY</string>
		<key>sub_postal_code</key>
		<string>SUB ZIP/POSTAL CODE</string>
		<key>last_name</key>
		<string>LAST NAME</string>
		<key>state_province</key>
		<string>US STATE/CA PROVINCE</string>
		<key>custom_field_6</key>
		<string>CUSTOM FIELD 6</string>
		<key>state</key>
		<string>STATE</string>
		<key>custom_field_3</key>
		<string>CUSTOM FIELD 3</string>
		<key>custom_field_9</key>
		<string>CUSTOM FIELD 9</string>
		<key>custom_field_11</key>
		<string>CUSTOM FIELD 11</string>
		<key>custom_field_15</key>
		<string>CUSTOM FIELD 15</string>
		<key>address2</key>
		<string>ADDRESS LINE 2</string>
		<key>email</key>
		<array>
			<string>EMAIL</string>
		</array>
		<key>custom_field_8</key>
		<string>CUSTOM FIELD 8</string>
		<key>custom_field_5</key>
		<string>CUSTOM FIELD 5</string>
		<key>custom_field_12</key>
		<string>CUSTOM FIELD 12</string>
		<key>job_title</key>
		<string>JOB TITLE</string>
		<key>custom_field_2</key>
		<string>CUSTOM FIELD 2</string>
		<key>address3</key>
		<string>ADDRESS LINE 3</string>
		<key>first_name</key>
		<string>FIRST NAME</string>
	</dict>
	<key>endpoints</key>
	<dict>
		<key>event_spot_individual_item_attribute</key>
		<string>eventspot/events/%@/items/%@/attributes/%@</string>
		<key>event_spot_item_attribute_collection</key>
		<string>eventspot/events/%@/items/%@/attributes</string>
		<key>event_spot_individual_event_item</key>
		<string>eventspot/events/%@/items/%@</string>
		<key>event_spot_event_item_collection</key>
		<string>eventspot/events/%@/items</string>
		<key>event_spot_individual_registration</key>
		<string>eventspot/events/%@/registrants/%@</string>
		<key>event_spot_registration_collection</key>
		<string>eventspot/events/%@/registrants</string>
		<key>event_spot_individual_promocode</key>
		<string>eventspot/events/%@/promocodes/%@</string>
		<key>event_spot_promocode_collection</key>
		<string>eventspot/events/%@/promocodes</string>
		<key>event_spot_individual_fee</key>
		<string>eventspot/events/%@/fees/%@</string>
		<key>event_spot_fees_collection</key>
		<string>eventspot/events/%@/fees</string>
		<key>event_spot_individual_event</key>
		<string>eventspot/events/%@</string>
		<key>event_spot_collection</key>
		<string>eventspot/events</string>
		<key>library_files_move</key>
		<string>library/folders/%@/files</string>
		<key>library_files_upload_status</key>
		<string>library/files/uploadstatus/%@</string>
		<key>library_files_individual</key>
		<string>library/files/%@</string>
		<key>library_files_by_folder</key>
		<string>library/folders/%@/files</string>
		<key>library_files</key>
		<string>library/files</string>
		<key>library_folders_trash</key>
		<string>library/folders/trash/files</string>
		<key>library_folders_collection</key>
		<string>library/folders</string>
		<key>library_folders_individual</key>
		<string>library/folders/%@</string>
		<key>library_folders_info</key>
		<string>library/info</string>
		<key>contact_tracking_by_email_campaign</key>
		<string>contacts/%@/tracking/reports/summaryByCampaign</string>
		<key>contact_tracking_all</key>
		<string>contacts/%@/tracking</string>
		<key>membership_list</key>
		<string>lists/%@/contacts</string>
		<key>verified_email</key>
		<string>account/verifiedemailaddresses</string>
		<key>contact_lists</key>
		<string>contacts/%@/lists</string>
		<key>base_url</key>
		<string>https://api.constantcontact.com/v2/</string>
		<key>add_contacts_activity</key>
		<string>activities/addcontacts</string>
		<key>contact_list</key>
		<string>contacts/%@/lists/%@</string>
		<key>contacts</key>
		<string>contacts</string>
		<key>contact</key>
		<string>contacts/%@</string>
		<key>lists</key>
		<string>lists</string>
		<key>list</key>
		<string>lists/%@</string>
		<key>clear_lists_activity</key>
		<string>activities/clearlists</string>
		<key>activities</key>
		<string>activities</string>
		<key>activity</key>
		<string>activities/%@</string>
		<key>campaigns</key>
		<string>emailmarketing/campaigns</string>
		<key>campaign</key>
		<string>emailmarketing/campaigns/%@</string>
		<key>campaign_schedules</key>
		<string>emailmarketing/campaigns/%@/schedules</string>
		<key>campaign_schedule</key>
		<string>emailmarketing/campaigns/%@/schedules/%@</string>
		<key>campaign_test_sends</key>
		<string>emailmarketing/campaigns/%@/tests</string>
		<key>campaign_tracking_opens</key>
		<string>emailmarketing/campaigns/%@/tracking/opens</string>
		<key>campaign_tracking_sends</key>
		<string>emailmarketing/campaigns/%@/tracking/sends</string>
		<key>campaign_tracking_bounces</key>
		<string>emailmarketing/campaigns/%@/tracking/bounces</string>
		<key>campaign_tracking_forwards</key>
		<string>emailmarketing/campaigns/%@/tracking/forwards</string>
		<key>campaign_tracking_summary</key>
		<string>emailmarketing/campaigns/%@/tracking/reports/summary</string>
		<key>campaign_tracking_clicks</key>
		<string>emailmarketing/campaigns/%@/tracking/clicks</string>
		<key>campaign_tracking_link</key>
		<string>emailmarketing/campaigns/%@/tracking/clicks/%@</string>
		<key>campaign_tracking_unsubscribes</key>
		<string>emailmarketing/campaigns/%@/tracking/unsubscribes</string>
		<key>contact_tracking_opens</key>
		<string>contacts/%@/tracking/opens</string>
		<key>contact_tracking_sends</key>
		<string>contacts/%@/tracking/sends</string>
		<key>contact_tracking_forwards</key>
		<string>contacts/%@/tracking/forwards</string>
		<key>contact_tracking_bounces</key>
		<string>contacts/%@/tracking/bounces</string>
		<key>contact_tracking_clicks</key>
		<string>contacts/%@/tracking/clicks</string>
		<key>contact_tracking_summary</key>
		<string>contacts/%@/tracking/reports/summary</string>
		<key>contact_tracking_unsubscribes</key>
		<string>contacts/%@/tracking/unsubscribes</string>
		<key>contact_tracking_link</key>
		<string>contacts/%@/tracking/clicks/%@</string>
		<key>export_contacts_activity</key>
		<string>activities/exportcontacts</string>
		<key>remove_from_lists_activity</key>
		<string>activities/removefromlists</string>
	</dict>
	<key>auth</key>
	<dict>
		<key>response_type_token</key>
		<string>token</string>
		<key>token_endpoint</key>
		<string>oauth/token</string>
		<key>base_url</key>
		<string>https://oauth2.constantcontact.com/oauth2/</string>
		<key>response_type_code</key>
		<string>code</string>
		<key>authorization_code_grant_type</key>
		<string>authorization_code</string>
		<key>authorization_endpoint</key>
		<string>oauth/siteowner/authorize</string>
	</dict>
	<key>login</key>
	<dict>
		<key>base_url</key>
		<string>https://login.constantcontact.com/login/</string>
		<key>host</key>
		<string>login.constantcontact.com</string>
		<key>login_endpoint</key>
		<string>oauth/login</string>
	</dict>
</dict>
</plist>
